### Python
__pycache__/
*.py[cod]
*$py.class

### Virtual environments
.venv/
venv/
ENV/
uncertainty/

### Environment variables / secrets
.env

### Experiment artifacts
experiments/
outputs/

### Editors / OS
.vscode/
.idea/
.DS_Store
