### Python
__pycache__/
__init__.py
*.py[cod]
*$py.class

### Virtual environments
.venv/
venv/
ENV/

### Environment variables / secrets
.env

### Editors / OS
.vscode/
.idea/
.DS_Store

experiments/
planning/
documentation/